<div class="insects">
    <div class="row mx-1 my-5">
        <div *ngFor="let insect of insects" class="insect-card card col-md-4 col-xs-12">
            <div class="card-body">
                <img src="" alt="insect{{insect.id}}">
                <h1>{{insect.name}}</h1>
                <p>Insect type: <span>{{insect.type}}</span></p>
                <button class="btn bg-info text-white" [routerLink]="['/insects', insect.id]">Know more</button>
            </div>
        </div>
    </div>
</div>