<article class="insects container">
  <section class="row mx-1 my-5">
    <div *ngFor="let insect of insects" class="insect-card card col-md-4 col-xs-12">
      <div class="card-body">
        <img src="" alt="insect{{insect.id}}">
        <h1>{{insect.name}}</h1>
        <p>Insect type: <span>{{insect.type}}</span></p>
        <div class="row">
          <button class="col btn bg-info text-white mx-3" [routerLink]="['/insects', insect.id]">Know more</button>
          <button class="col btn bg-danger text-white mx-3">Delete insect</button>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    {{ insects | json }}
    <form class="col col-4">
      <div class="form-group">
        <label>Insect's Name</label>
        <input type="text" [(ngModel)]="iname" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label>Type</label>
        <input type="text" [(ngModel)]="itype" name="type" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" (click)="addInsect()">Save</button>
    </form>
  </section>
</article>